body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
  background-color: #f5f5f5;
}
h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  background-color: blue;
  text-align: center;
  font-weight: bold;
  margin: 0px;
}
nav {
  display: flex;
}
.name {
  color: white;
  font-family: Kanit;
}
a {
  text-decoration: none;
  color: darkblue;
  font-family: Montserrat;
}

a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
  padding-left: 15px;
}
footer {
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;

  margin-bottom: 0px;
}
h2 {
  text-align: center;
  font-family: Kanit;
}
.images {
  display: flex;
  justify-content: center;
}
#diamond {
  max-width: 90%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#footballimage {
  display: none;
}
#hockeyimage {
  display: none;
}
#basketballimage {
  display: none;
}
h3 {
  text-align: center;
}

.headline {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.highlight {
  display: block;
  max-width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 0px;
}
.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  nav {
    justify-content: center;
  }
  li {
    display: inline;
    padding: 20px;
  }

  #diamond {
    display: inline-block;
    max-width: 20%;
    margin: 0px 1%;
  }
  #footballimage {
    display: inline-block;
    max-width: 20%;
    margin: 0px 1%;
  }
  #hockeyimage {
    display: inline-block;
    max-width: 20%;
    margin: 0px 1%;
  }
  #basketballimage {
    display: inline-block;
    max-width: 20%;
    margin: 0px 1%;
  }
  .headline {
    text-align: center;
    justify-content: center;
    margin: 0px 5%;
  }
  .highlight {
    max-width: 90%;
  }
  .divheadline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
  }
  .story {
    display: inline-block;
    width: 49%;
    margin: 0px;
  }
  h3 {
    margin-left: auto;
    margin-right: auto;
  }
}
